nav{
    background-color:#fff;
    position:fixed;
}

nav .brand-logo{
    color:#000;
    padding-left:15px;
    text-decoration:none;
    letter-spacing:-2px;
}

.bitisik{
    letter-spacing:-3px;
}


nav ul li a{
    height:64px;
    color:#000;
    text-decoration:none !important;
}

nav ul li a:hover{
    color:#000;
}

nav ul li a.active{
    color:#000;
    border-bottom: 4px solid #69f0ae;
}


body {
}
