nav{
    background-color:#fff;
    position:fixed;
}

nav .brand-logo{
    color:#000;
    padding-left:15px;
    text-decoration:none;
    letter-spacing:-2px;
}

.bitisik{
    letter-spacing:-3px;
}


nav ul li a{
    height:64px;
    color:#000;
    text-decoration:none !important;
}

nav ul li a:hover{
    color:#000;
}

nav ul li a.active{
    color:#000;
    border-bottom: 4px solid #69f0ae;
}

#ucgen{
    position:relative;
    height:603px;
    background-image:url(../images/gecicisvg.png);
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
}

#ucgen .ucgen-baslik{
    position:absolute;
    top:100px;
    color:#fff;
}

@font-face{
    src:url(../font/roboto/Roboto-Regular.ttf);
    font-family:fontum;
}

#ucgen .ucgen-baslik h1{
    font-size:5rem;
    line-height:7.4rem;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
    text-align:center;
    font-weight:100;
    font-family:fontum;
}

#ucgen #asagi-btn{
    position:absolute;
    bottom:15px;
    left:50%;
    margin-left:-27.75px;
}

#servis .alt-satir{
    padding-bottom:70px;
    border-bottom:1px solid #e0e0e0;
}

#hakkimizda .alt-satir{
    padding-bottom:50px;
    border-bottom:1px solid #e0e0e0;
    margin-bottom:0;
}

h2{
    margin-top:40px;
    font-size:64px;
    line-height:110%;
    letter-spacing:4px;
    text-align:center;
    font-weight:100;
    margin-bottom:40px;
}

.kenar{
    position:absolute;
    left:47%;
    background-color:#69f0ae;
    width:100px;
    height:5px;
}

#servis .col-md-3{
    text-align:center;
}

#servis .divider{
    margin-top:13px;
}

#servis h5{
    letter-spacing:3px;
    font-weight:400;
}

#servis p{
    font-weight:300;
}

#servis a{
    text-decoration:none;
    text-transform:uppercase;
}

#servis .col-md-3:hover .divider{
    background-color: rgb(41, 56, 203);
}

.el-emegi{
    color:#000;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.15),0 4px 15px 0 rgba(0,0,0,0.15);
    padding:0 2rem;
    font-size:14px;
    padding-top:15px;
    padding-bottom:15px;
}

.el-emegi:hover{
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.3),0 4px 15px 0 rgba(0,0,0,0.25);
}

.resim-tab{
    border:none;
    max-width:497px;
    margin:0 auto;
    padding-top:30px;
}


.resim-tab li a{
    padding-left:30px;
    padding-right:27px;
    border-radius:2px;
    transition: background-color .2s linear .3s;
    color:#1a237e;
    text-transform:uppercase;
    text-align:center;
    font-size:15px;
}

.resim-tab li.active a, .resim-tab li.active a:focus, .resim-tab li.active a:hover{
    border-radius:2px;
    color:#1a237e;
    border:none;
}

.resim-tab li.active a, .resim-tab li.active a:hover{
    border:none;
    background-color:#69f0ae !important;
}

.resim-tab li a:hover{
    border:none;
    background:none !important;
}

.wide-container{
    padding-left:12px;
    padding-right:12px;
}

#isler .alt-yazi{
    text-decoration:none;
    color:#1a237e;
    cursor:pointer;
}

#isler h5{
    text-transform:uppercase;
    font-size:18px;
    letter-spacing:3px;
}

#ara-kisim{
    margin-top:30px;
    background-color:rgb(242, 242, 242);
}

#ara-kisim a, #uyelik a{
    font-size:15px;
    margin-top:20px;
    text-decoration:none;
    color:#1a237e;
    background-color:#69F0AE;
    border-radius:2px;
    height:54px;
    line-height:56px;
    letter-spacing:.5px;
    border:none;
    padding:0 2rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

#uyelik a{
    margin-top:0 !important;
}

#ara-kisim a:hover, #uyelik a:hover{
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.3),0 4px 15px 0 rgba(0,0,0,0.25);
}

.yazi{
    text-align:center;
}

.cerceve:hover .aciklama{
    opacity:1;
}

.aciklama{
    position:absolute;
    background-color:rgba(105,240,174,.9);
    width:100%;
    height:106%;
    opacity:0;
    top:-12px;
    left:2px;
}

#hakkimizda small{
    letter-spacing:4px;
    font-size:60%;
    color: rgba(0,0,0,0.87);
}

#hakkimizda a{
    font-size:15px;
    text-decoration:none;
    color:#1a237e;
}

#hakkimizda a:hover{
    color:#039be5;
}

#hakkimizda .bilgiler{
    margin-top:109px;
}

#hakkimizda .icon{
    margin-right:0.25rem;
}

#fiyatlar .cb-para{
    margin-right:5px;
}

#fiyatlar label{
    padding-left:23px !important;
    color:#000;
}

[type="radio"]:checked+label:after{
    background-color:#69f0ae !important;
    border-color:#69f0ae !important;
}

#fiyatlar .fiyat-bolumleri{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    padding-right:0;
    padding-top:60px;
    padding-bottom:60px;
}

#fiyatlar .fiyat-bolumleri:hover .divider{
    background-color: rgb(41, 56, 203);
}

#fiyatlar .fiyat-baslik{
    font-size:24px;
    text-align:center;
    font-weight:400;
    letter-spacing:3px;
    margin-bottom:17px;
}

#fiyatlar .fiyat{
    margin-top:15px;
    margin-bottom:15px;
    font-size:64px;
    font-weight:100;
    text-align:center;
}

#fiyatlar ul li{
    font-size:16px;
    line-height:32px;
    text-align:center;
}

#fiyatlar ul{
    margin-bottom:45px;
}

#fiyatlar .el-emegi{
    text-decoration:none;
    height:36px;
    padding-right:30px;
    padding-left:30px;
    padding-top:8px;
}

#fiyatlar .el-emegi:hover{
    color:#000;
}

#fiyatlar .ozel{
    background-color:#69F0AE !important;
    color:#1a237e !important;
    border-radius:2px !important;
}

#uyelik{
    margin-top:30px;
    background-color:rgb(242, 242, 242);
}

.input-field input[type=email]:focus {
     border-bottom: 1px solid #69f0ae;
     box-shadow: 0 1px 0 0 #69f0ae;
}

.input-field label.active{
    color:#9e9e9e !important;
    font-weight:400;
}

.input-field label{
    font-weight:400;
    margin-left:10px;
}

#blog{
    margin-top:30px;
}

#blog .card{
    padding:0;  
    position:absolute;
}

#blog .col-md-4, #blog .col-md-8{
    padding-right:12px;
    padding-left:12px;
}


body {
    line-height:1.5;
    color:rgba(0,0,0,0.87);
    font-weight:normal;
}
